In [3]:
import pandas as pd

In [ ]:
file_path = '../raw_data/10yr_gas_data.csv'
df = pd.read_csv(file_path)

In [110]:
dates = []
states = []
values = []

# loop through columns of columns (DC is included so there are 51 state columns)
for i in range(1,52):

   #loop through rows
    for j in range(0,132): 
        date = df.iloc[j,0] # gets date from first column
        dates.append(date)  # adds date to dates list

        state_str = df.columns[i] # gets column title
        state_str = state_str.split(' Natural', 1) #splits the title at the first occurence of the word 'natural'
        state = state_str[0] # saves the state name 
        states.append(state) # adds the state to the states list

        value = df.iloc[j,i] # retrieves the value from the current row,value pair
        values.append(value) # adds the value to the values list

In [113]:
df_clean = pd.DataFrame({
    'Date': dates,
    'State': states,
    'Natural Gas Consumption (MMcf)':values
})

df_clean

          Date    State  Natural Gas Consumption (MMcf)
0     Jan-2010  Alabama                        9202.647
1     Feb-2010  Alabama                        7762.261
2     Mar-2010  Alabama                        6612.051
3     Apr-2010  Alabama                        2987.217
4     May-2010  Alabama                        1142.784
...        ...      ...                             ...
6727  Aug-2020  Wyoming                         199.347
6728  Sep-2020  Wyoming                         289.642
6729  Oct-2020  Wyoming                         567.622
6730  Nov-2020  Wyoming                        1532.600
6731  Dec-2020  Wyoming                        2151.153

[6732 rows x 3 columns]

In [114]:
output_path = 'clean_data/natural_gas_data.csv'

df_clean.to_csv(output_path)

In [18]:
file_path = 'all_states_ave_temp.csv'
df2 = pd.read_csv(file_path)

In [19]:
df2.head()

                     Alabama Unnamed: 1  Average Temperature Unnamed: 3
0  Units: Degrees Fahrenheit        NaN                  NaN        NaN
1     Base Period: 2010-2020        NaN                  NaN        NaN
2               Missing: -99        NaN                  NaN        NaN
3                       Date        NaN                Value    Anomaly
4                     200001    Alabama                 46.5        1.6

In [20]:
df2.dropna(how='any', inplace=True)

In [21]:
column_names = {
    'Unnamed: 1': 'State', 
    'Average Temperature': 'Avg Temp (F)',
    'Unnamed: 3': 'Anomaly',
    'Alabama' : 'Date'
    }

df2.rename(columns=column_names, inplace=True)
#df2.drop(columns='Alabama', inplace=True)
df2.reset_index(drop=True, inplace=True)
df2.head()

     Date    State  Average Temperature Anomaly
0  200001  Alabama                 46.5     1.6
1  200002  Alabama                 52.3     2.5
2  200003  Alabama                 58.9     2.7
3  200004  Alabama                 60.1    -3.8
4  200005  Alabama                   74     2.4

In [22]:
output_path = 'clean_data/avg_temp_by_state.csv'

df2.to_csv(output_path)

11809